@model PracticeProjectMVC.Models.Product

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>In-Stock</th>
                <th>On-Order</th>
                <th>Reorder Level</th>
                <th>Discontinued</th>
            </tr>
             <tr>
                 <td>@Model.ProductID</td>
                 <td>@Model.QuantityPerUnit</td>
                 <td>@Model.UnitPrice</td>
                 <td>@Model.UnitsInStock</td>
                 <td>@Model.UnitsOnOrder</td>
                 <td>@Model.ReorderLevel</td>
                 <td>@Model.Discontinued</td>
              </tr>
        </table>
    </div>
</body>
</html>
