@model PracticeProjectMVC.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetDBStudent</title>
</head>
<body>
    <div> 
        <h1>@Model.StudentId</h1>
        <h1>@Model.StudentName</h1>
        <p>@Model.StudentRollNumber</p>
        <p>@Model.StudentCourse</p>
        <p>@Model.StudentSemester</p>
        <p>@Model.StudentUniversity</p>

    </div>
</body>
</html>
