@model PracticeProjectMVC.Models.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetStudentByName</title>
</head>
<body>
    <div> 
        @*<h1>StudentId: @Model.StudentID</h1>
        <h1>StudentName: @Model.StudentName</h1>
        <p>StudentRollNumber: @Model.StudentRollNumber</p>
        <p>StudentCourse: @Model.StudentCourse</p>
        <p>StudentSemester: @Model.StudentSemester</p>
        <p>StudentUniversity: @Model.StudentUniversity</p>*@
    </div>
</body>
</html>
